
/* Lobby Content Styles */
.lobby-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  /* Static image styles */
  .lobby-content img {
    width: 675px;
    height: 725px;
    border: 12px solid rgb(20, 20, 20);
    border-radius: 120px;
  }
  
  /* Static image styles */
  .lobby-content2 img {
    width: 875px;
    height: 930px;
    border: 12px solid rgb(20, 20, 20);
    border-radius: 120px;
  }
  
  .lobby-content2 p{
    font-size: 75px;
    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    text-shadow: -1px 0px 0 #000;
    font-weight: bold;
    width: 100%; 
  }
    
  /* Website iframe container styles */
  .lobby-content iframe {
    width: 625px;
    height: 675px;
    border: 12px solid rgb(20, 20, 20);
    border-radius: 120px;
  }
  
  .lobby-content.website {
    width: 675px; /* Adjust the width for the TV screen */
    height: 725px; /* Adjust the height for the TV screen */
    overflow: hidden; /* Ensure no scrollbars */
  }
  
  /* Overlay styles */
  .lobby-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 675px;
    height: 725px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0); /* Fully transparent */
  }
  