html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars during loading */
  background: black;
  font-family: Comic Sans MS;
  cursor: crosshair;
/*  cursor: url('/MLG/snipercursor.png'), auto; */
}

/* Canvas Styles */
canvas {
  display: block;
  position: fixed;
}