/* General styles for vault TVs */
.vault-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 625px;
  height: 675px;
  background-size: cover;
  pointer-events: auto; /* Enable pointer events */
  cursor: pointer; /* Change cursor on hover */
}

/* Specific styles for each TV */
.vault-tv5 {
  width: 675px;
  height: 725px;
  border: 12px solid rgb(20, 20, 20);
  object-fit: cover;
  border-radius: 120px;
}

.vault-tv6 {
  width: 675px;
  height: 725px;
  border: 12px solid rgb(20, 20, 20);
  object-fit: cover;
  border-radius: 120px;
}

.vault-tv7 {
  width: 625px;
  height: 675px;
  border: 12px solid rgb(20, 20, 20);
  object-fit: cover;
  border-radius: 120px;
}

.vault-tv8 {
  width: 625px;
  height: 675px;
  border: 12px solid rgb(20, 20, 20);
  object-fit: cover;
  border-radius: 120px;
}
