/* General styles for vault TVs */
.vault-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 625px;
    height: 675px;
    background-size: cover;
    pointer-events: auto; /* Enable pointer events */
    cursor: pointer; /* Change cursor on hover */
  }
  
  /* Specific styles for each TV */
  .vault-tv6-1 {
    width: 675px;
    height: 725px;
    border: 12px solid rgb(20, 20, 20);
    object-fit: cover;
    border-radius: 120px;
  }
  
  .vault-tv6-2 {
    width: 675px;
    height: 725px;
    border: 12px solid rgb(20, 20, 20);
    object-fit: cover;
    border-radius: 120px;
  }
  
  .vault-tv7-1 {
    width: 625px;
    height: 675px;
    border: 12px solid rgb(20, 20, 20);
    object-fit: cover;
    border-radius: 120px;
  }
  
  .vault-tv7-2 {
    width: 625px;
    height: 675px;
    border: 12px solid rgb(20, 20, 20);
    object-fit: cover;
    border-radius: 120px;
  }
  
  .vault-tv8 {
    width: 1000px;
    height: 775px;
    object-fit: cover; /* Ensures the video covers the area without stretching */
    border: 12px solid rgb(31, 26, 31);
    border-radius: 24px;
  }
  